ul {
    list-style-type: none;
}

input {
    margin: 10px;
    width: 300px;
}

button {
    margin: 10px;
    width: auto;
}

.container {
    padding-top: 5rem;
  }

  .starter-template {
/* padding: 3rem 1.5rem; */
text-align: center;
}

#qaSection{
    min-height:400px;
}

#save_form{
    min-height:400px;
}

.q_and_a{
    text-align: center;
}


.row{
    padding-top: 1.5rem;
}

.hide {
    display: none;
  }
/* @media screen and (max-width: 995px) {
    .card2{    
        height: 100%;
    }
  } */